body {
  margin: 0;
  background-color: #2c3e50;
  font-family: "Poppins", sans-serif;
  color: #f4f8fb;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-custom {
  background-color: #2c3e50 !important;
}

a {
  color: #007bff;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-danger {
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}
